* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --primary-color: #707070;
}

body {
    color: var(--primary-color);
}

.container {
    width: 950px;
    margin: 0 auto;
}

.btn {
    background-color: #fff;
    color: var(--primary-color);
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #7070703b;
    border: 1px solid var(--primary-color);

    transition: ease 300ms;
}

.btn:hover {
    background-color: #575757;
    color: #fff;
}

/* -------------------------------- HEADER -------------------------------- */

.header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.header .title {
    font-size: 1.4rem;
}

.header .title .emphasis {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
} 

.header p,
.header nav {
    margin-bottom: 15px;
}


.nav .list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.nav .list .list-item {
    list-style: none;
    margin-right: 40px;
    
}

.nav .list .list-item .links {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
}


.form .input {
    width: 100%;
    padding: 5px;
}

.form .label {
    display: block;
    font-size: .8rem;
    margin-bottom: 10px;
}

.error {
    display: none;
}

.active {
    color: red;
    font-size: .8rem;
    padding-top: 5px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
}

/* -------------------------------- ABOUT -------------------------------- */

.about {
    --width-flex: 60%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.about .text {
    width: var(--width-flex);
}

.about .text h2 {
    font-weight: 400;
    font-size: 1.3rem;
}

.about .text h2, 
.about .text p {
    margin-bottom: 20px;
}

.about .text p {
    font-size: .8rem;
    line-height: 20px;
}



.about .div-form {
    width: calc(100% - 5% - var(--width-flex ));
}

.about .div-form .form > div {
    margin-bottom: 20px;
}


.about .div-form .form label[for=gender] {
    margin-right: 20px;
}


/* -------------------------------- PRODUCTS -------------------------------- */
.collection {
    text-align: center;
}

.collection .seperator{
    padding: 40px 0;
}


.collection .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.collection .products .product {
    width: 21%;
    padding-bottom: 50px;
    font-size: .9rem;
}

.collection .products .product .image img {
    --img-width: 100%;
    width: var(--img-width);
    height: var(--img-width);
}

.collection .products .product .product-title {
    font-weight: 400;
}

.collection .products .product .product-description {
    font-size: .8rem;
}

.collection .products .product .after-price {
    font-weight: 600;
    font-size: 1.1rem;
}

.collection .products .product .product-title,
.collection .products .product .product-description,
.collection .products .product .before-price,
.collection .products .product .after-price {
    margin: 10px 0;
}


.collection > .btn {
    width: 300px;
    margin-bottom: 100px;
}


/* -------------------------------- SHARE -------------------------------- */
.share {
    text-align: center;
}

.share .form .inputs-flex {
    display: flex;
    justify-content: space-between;
}

.share .form .inputs-flex label {
    text-align: left;
}

.share .form .inputs-flex > div {
    width: 45%;
}

.share .btn {
    width: 300px;
}

.share .seperator,
.share > p,
.share .form,
.share .form .inputs-flex {
    margin-bottom: 40px;
}


/* -------------------------------- FOOTER -------------------------------- */

.footer {
    background-color: var(--primary-color);
    color: #fff;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer > div {
    text-align: center;
}