* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --primary-color: #707070;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.btn {
    background-color: #fff;
    color: var(--primary-color);
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #7070703b;
    border: 1px solid var(--primary-color);

    transition: ease 300ms;
}

.btn:hover {
    background-color: #575757;
    color: #fff;
}

/* -------------------------------- HEADER -------------------------------- */

.header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.header .title {
    font-size: 1.4rem;
}

.header .title .emphasis {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
} 

.header p,
.header nav {
    margin-bottom: 15px;
}


.nav .list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.nav .list .list-item {
    list-style: none;
    margin-right: 40px;
    
}

.nav .list .list-item .links {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
}


/* -------------------------------- ABOUT -------------------------------- */

.about {
    --width-flex: 60%;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 20px;
}

.about .text {
    width: var(--width-flex);
}

.about .text h2 {
    font-weight: 400;
    font-size: 1.3rem;
}

.about .text h2, 
.about .text p {
    margin-bottom: 20px;
}

.about .text p {
    font-size: .8rem;
    line-height: 20px;
}



.about .div-form {
    width: calc(100% - 5% - var(--width-flex ));
}

.about .div-form .form > div {
    margin-bottom: 20px;
}

.about .div-form .form .input {
    width: 100%;
    padding: 5px;
}

.about .div-form .form .label {
    display: block;
    font-size: .8rem;
    margin-bottom: 10px;
}

.about .div-form .form label[for=gender] {
    margin-right: 20px;
}


/* -------------------------------- PRODUCTS -------------------------------- */

